*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-family: Roboto Condensed;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

ul, li {
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
