@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  text-align: center;

  &__logo {
    padding: 80px 0 60px;
  }
}

.menu {
  border-top: 2px solid #C4C4C4;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__list-item {
    width: 300px;
  }

  &__list-item:first-child {
    border-left: 1px solid #C4C4C4;
  }

  &__list-item:last-child {
    border-right: 1px solid #C4C4C4;
  }

  &__list-link {
    transition: all .3s;
    font-size: 24px;
    line-height: 28px;
    color: #888888;
    display: block;
    padding: 34px 10px 38px;
    border-right: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;

    &--active {
      background-color: #000;
      color: #fff;
    }

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.slider {

  &__item {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 600px;
  }
}

.slick-arrow {
  cursor: pointer;
  position: absolute;
  outline: none;
  border: none;
  background: none;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}


.search {
  &__inner {
    padding: 60px 0 70px;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form-label {
    font-size: 24px;
    line-height: 24px;
    color: #888888;
    margin-right: 69px;
  }

  &__form-input {
    height: 70px;
    padding: 0 15px;
    border: 2px solid #C4C4C4;
    width: 430px;
    color: #888888;
    font-size: 18px;
  }

  &__form-input::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #888888;
    font-family: Roboto Condensed;
  }

  &__form-btn {
    border: none;
    background-color: #c4c4c4;
    padding: 22px 23px 21px 36px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-image: url('../img/search-icon.svg');
      top: 26px;
      left: 9px;
    }
  }
}

.popular {
  text-align: center;

  &__title {
    font-family: PT Serif;
    background-color: #000;
    color: #fff;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    padding: 18px 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }

  &__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__item-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #888888;
    padding: 30px 10px;
  }

  &__item-link {
    background: #C4C4C4;
    color: #fff;
    padding: 13px 48px;
  }
}

.reason {
  padding: 100px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 470px;
  }

  &__item-title {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 20px;
    padding-left: 136px;
    font-family: PT Serif;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 103px;
      height: 103px;
    }
  }

  &__item-title--icon-1:before {
    background-image: url('../img/time.png');
  }

  &__item-title--icon-2:before {
    background-image: url('../img/world.png');
  }

  &__item-text {
    margin-bottom: 42px;
  }

  &__item-link {
    text-decoration: underline;
    font-size: 18px;
    line-height: 24px;
    text-decoratione: underline;
    color: #888888;
    padding-left: 36px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -5px;
      background-image: url('../img/arrow-black.svg');
      width: 30px;
      height: 30px;
    }
  }
}



@import "media";
